body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(../imgs/bg.jpg);
	background-size:auto 100%;  
	background-position:center top;
}

#container {
	display: flex;
	flex-direction: row;
	background-color: white;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.20), 0 2px 50px 0 rgba(0, 0, 0, 0.16);
}

#loginform {
	display: flex;
	flex-direction: column;
	padding: 40px;
	width: 300px;
}

#registerform {
	display: flex;
	flex-direction: column;
	padding: 40px;
	width: 300px;
	border-left: solid 1px rgba(0, 0, 0, 0.12);
}

button {
	height: 50px;
	border-radius: 5px;
	border-style: none;
	background-color: #009688;
	color: white;
	font-family: 'Roboto Thin';
	font-size: 20px;
	margin: 20px;
}

input {
	margin-top: 5px;
	height: 40px;
	line-height: 20px;
	font-family: 'Roboto';
	border-width: 1px;
	border-color: #f5f5f5;
	border-bottom-color: rgba(0, 0, 0, 0.25);
	border-style: solid;
	border-bottom-width: 2px;
	border-radius: 2px;
	padding-left: 5px;
	font-size: 15px;
	transition: border-bottom-color 0.1s;
}

input:focus {
	border-bottom-color: rgba(0, 150, 150, 0.5);
}

h1 {
	font-family: 'Roboto Thin';
}